.side {
  margin-left: 25px;
 max-width: 350px;
}
.side-general-container {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  padding: 20px;
  margin-bottom: 15px;
  text-align: left;
}
.side-list-item {
  border-bottom: 1px solid #ebebe3;
  padding: 10px 0;
  text-align: left;
}
.side-list-item a {
  outline: none;
}
.side-title-menu {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid var(--color-orande);
  box-shadow: 3px 3px 0 0 var(--color-orande);
}
.side-img {
  width: 30%;
}
.side-img-container h3 {
  padding-left: 10px;
  vertical-align: top;
  display: inline-block;
}
.side-img-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebe3;
  padding-bottom: 15px;
}
.side-img-container:last-child,
.side-list-item:last-child {
  border: none;
}
.side-search {
  width: 100%;
  padding: 10px 0;
}
.side-container-1 span {
  font-style: italic;
  color: grey;
  opacity: 0.6;
}
@media screen and (max-width: 1070px) {
  .side{
    max-width: 100%;
  }
}