@font-face {
  font-family: "redressed";
  src: url("../fonts/redressed/Redressed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "dot";
  src: url("../fonts/DotGothic/DotGothic16-Regular.ttf") format("truetype");
}
