.foot {
  background-color: #3c3d41;
  padding: 20px 75px;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.foot-icon-item {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 556px) {
  .foot {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .foot-icon {
    margin: 5px 0;
  }
}
