.head {
  background-color: var(--color-white);
  position: fixed;
  left: 0;
  z-index: 2;
  right: 0;
  padding: 10px 0px;
  box-shadow: 3px 3px 1px rgb(0 0 0 / 5%);
}

.head-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logo-1,
.logo-2 {
  color: var(--color-white);
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 10px 0;
  text-align: center;
  text-shadow: 2px 2px 1px rgb(0 0 0 / 40%);
}
.logo-2 {
  background-color: var(--color-orangered);
}
.logo-1 {
  background: var(--color-orande);
}
.head-list-item {
  font-weight: 600;
  padding: 5px 0 5px 40px;
  display: inline-block;
  letter-spacing: 1px;
  transition: color 0.5s;
}
.head-list-item .head-link {
  outline: none;
}
.head-list-item:hover {
  color: var(--color-orangered);
}
.head-list-item:nth-child(1) {
  margin: 0;
  padding: 0;
}
.head-forma {
  margin-left: 70px;
}
.search {
  font-style: italic;
  border: none;
  padding: 10px 0;
}
.search:focus {
  border: 1px solid grey;
  margin: -1px;
}
.head-list {
  margin: 5px auto 5px;
}
@media screen and (max-width: 307px) {
  .head-list-item {
    margin: 0;
    padding: 0 5px;
  }
  .head-forma {
    margin: 0;
  }
}
@media screen and (max-width: 668px){
  .head-logo{
    margin:  auto;
  }
}